body {
    color: #302f2f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "MS P Gothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
    overflow-x: hidden
}
a {
    color: #302f2f;
    text-decoration: none
}
ol,
ul {
    display: block;
    list-style-type: none;
    text-align: left
}
ol {
    list-style-type: decimal
}
#wrapper {
    width: 900px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px -3px #302f2f
}

 
h1.midashi {
    position: relative;
    padding: 0.45em 0;
    color: #494949;
    margin: 1em 0;
    font-size: 1.3em
}
h1.midashi:after {
    content: "";
    display: block;
    height: 4px;
    margin-top: 10px;
    background: -webkit-linear-gradient(to right, #e65a5a, transparent);
    background: linear-gradient(to right, #e65a5a, transparent)
}

h1.midashi-01 {
    background: yellowgreen;
    padding: 10px;
    color:white;
    font-size: 1.3em;
    font-weight: bold; 
}

h1.midashi-02 {
    background: #e65a5a;
    padding: 10px;
    color:white;
    font-size: 1.3em;
    font-weight: bold; 
}

h1.midashi-03 {
    background: #3f70c2;
    padding: 10px;
    color:white;
    font-size: 1.3em;
    font-weight: bold; 
}

h2.midashi-h2-01{
    border-top: 2px solid yellowgreen;
    border-bottom: 3px solid yellowgreen;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold; 
}

h2.midashi-h2-02{
    border-left: 5px solid #ee9393;
    background: #EFEFEF;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold; 
}

h2.midashi-h2-03{
    border-left: 5px solid #759cdc;
    background: #EFEFEF;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold; 
}


#section-01,
#section-02,
#section-03,
#section-05 {
    padding: 0 30px;
    margin-bottom: 15px
}
#section-04 {
    margin-bottom: 15px
}
#section-01 h1 {
    color: #302f2f
}
#section-01 .title-wrap {
    width: 800px;
    padding: 10px;
    line-height: 1.5;
    margin: 0 auto 20px
}
#section-03 .point-list {
    margin-bottom: 20px
}
#section-05 {
    padding: 0
}
#section-05 .last-container {
    background: #f7cc44;
    padding: 0 0 10px;
    margin: 0
}
#section-05 .last-txt {
    background: #fff;
    margin: 0 40px 30px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid orange
}
.txt-wrap {
    line-height: 1.5
}
table,
td,
th {
    width: 100%;
    font-size: 1.3em;
    margin: 10px 0;
    padding: 6px;
    border-collapse: collapse;
    border-spacing: 0
}
table .table-title,
td .table-title,
th .table-title {
    background: #ffe8b3
}
th .link-img img {
    width: 170px;
    height: auto
}
#section-02 .table-01 {
    border: 1px solid #e5e5e5;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    table-layout: fixed
}
#section-02 .table-01 h6 {
    font-size: 1.2em
}
#section-02 .table-01 .f-15 {
    font-size: 1.5em
}
#section-02 .table-01 th,
#section-02 .table-01 td {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5
}
#section-02 .table-01 td img {
    width: 150px
}
#section-02 .table-01 td .small {
    width: 75px
}
#section-04 table.r-table {
    table-layout: auto;
    text-align: left;
    padding-top: 20px
}
#section-04 table.r-table th.r-title {
    border: solid 1px #ccc;
    background-color: rgba(204, 204, 204, 0.363);
    position: relative;
    padding: 37px 0 0 125px;
    font-size: 1.5em;
    margin-bottom: 20px
}
#section-04 .r-img {
    width: 100%;
    text-align: center
}
#section-04 .r-img img {
    width: 200px
}
#section-04 .r-img .big-img {
    width: 130px
}
table.r-r-table {
    margin-bottom: 20px
}
table.r-r-table th {
    background: #ffe8b3
}
table.r-r-table th,
table.r-r-table td {
    border-right: 1px solid white;
    font-size: 0.8em;
    width: 30%;
    padding: 18px;
    line-height: 130%;
    text-align: center
}
.r-txtbox {
    line-height: 1.8;
    padding: 20px 10px
}
.r-txtbox p {
    margin-bottom: 15px
}
p {
    font-size: 1.1em
}
h1 {
    display: block;
    font-size: 1.8em
}
.f-07 {
    font-size: 0.7em
}
.f-09 {
    font-size: 0.9em
}
.f-13 {
    font-size: 1.3em
}
.f-15 {
    font-size: 1.5em
}
.red {
    color: orangered
}
.pink {
    color: #e23f61
}
.bold {
    font-weight: bold
}
.blue {
    color: #3030c7
}
.gray {
    color:#999;
}
.bg-y {
    background: linear-gradient(transparent 50%, #fff45c 50%)
}
.left {
    text-align: left
}
.right {
    text-align: right
}
.center {
    text-align: center
}
.link_txt {
    display: block;
    margin: 15px 0;
    text-align: right;
    font-size: 1.7em;
    color: orangered;
    font-weight: bold
}
#pagetop {
    bottom: 5px;
    clear: both;
    position: relative;
    right: -5px;
    bottom:-10px;
    z-index: 5
}
#pagetop a {
    background-image: url('img/pagetop_button.png');
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 14px;
    overflow: hidden;
    position: absolute;
    right: 50px;
    text-indent: -9999px;
    width: 116px
}
.point-list {
    background: #f5f2f2;
    padding: 20px 0 20px 46px;
    border: 2px dotted #CCC;
    font-size: 1.1em
}
.point-list li {
    line-height: 2.5;
    vertical-align: middle;
    padding-left: 20px
}

.item-list {
    background: #f5f2f2;
    padding: 20px;
    border: 2px dotted #CCC;
    font-size: 1.1em
}

.item-list li {
    line-height: 3;
    vertical-align: middle;
}

.item-list a li:hover {
    font-weight: bold;
}

.item-list li:before {
    content:"▶";
    font-size: 0.7em;
    margin-right: 10px;
}


.item-list a li:after {
    content:"";
    display: block;
    border-bottom: 2px solid #CCC;
}

.item-list li:last-of-type:after {
    border: none;
}


.r-list {
    background: #fef5ed;
    border-radius: 30px;
    margin: 20px 0;
    padding: 25px;
    font-size: 0.7em;
    line-height: 2
}
.r-list li {
    margin-left: 20px
}
.r-list li:before {
    content: "";
    width: 13px;
    height: 14px;
    display: inline-block;
    background-image: url('../img/n_img/point_icon.png');
    background-size: contain;
    vertical-align: middle;
    margin-right: 4px
}
.img-wrap img {
    width: 100%
}
.img-btn {
    text-align: center
}
.img-btn img {
    width: 600px
}
.arrow {
    text-align: center
}
.arrow img {
    width: 100px
}
.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 1em
}
.tabs li {
    float: left;
    text-align: center;
    cursor: pointer;
    width: 16.55%;
    height: 60px;
    padding-top: 17px;
    line-height: 1.2;
    border: 1px solid #eee;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;
    position: relative;
    opacity: 0.3
}
.tabs .active {
    opacity: 1;
    background: orangered;
    color: white;
    border-bottom: 1px solid #FFFFFF
}
.tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #FFFFFF
}
.tab_content {
    width: 100%;
    font-size: 1em;
    display: none
}
#menu .menubox {
    width: auto;
    background-color: #EFEFEF;
    padding: 20px;
    margin: 20px
}
#menu #menu1 li {
    font-size: 0.8em;
    background-image: url('img/menu_bg.gif');
    background-repeat: repeat-x;
    background-position: left bottom;
    display: inline-block;
    margin-right: 10px
}
#menu #menu1 li a {
    text-decoration: underline
}
footer {
    background-color: #F8F8F8;
    background-image: url('img/footer_bg.png');
    background-position: center top;
    background-repeat: repeat-x;
    border-top: 2px solid orangered;
    color: #8C8C8C;
    font-size: 12px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center
}
.accordion-container {
    position: relative;
    width: 100%;
    border-top: none;
    font-family: "メイリオ", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    outline: 0;
    cursor: pointer
}
.accordion-container .article-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    background-color: #f3cb51;
    font-size: 1em;
    font-weight: bold;
    color: #535353;
    cursor: pointer;
    text-align: center
}
.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
    background-color: #f3cb51;
    color: #535353;
    display: block;
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    cursor: pointer;
    text-align: center
}
.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
    color: white
}
.accordion-container .content-entry i {
    position: absolute;
    top: 3px;
    left: 12px;
    font-style: normal;
    font-size: 1.625em;
    color: #fff
}
.accordion-container .content-entry i:before {
    content: "+ "
}
.accordion-container .content-entry.open i:before {
    content: "- "
}
.accordion-content {
    display: block;
    margin-top: 10px
}
#content {
    width: 100%
}
.accordion-container,
#description {
    width: 100%;
    margin-bottom: 2em
}
#description p {
    line-height: 1.5
}
#description h2 {
    text-align: center
}


    /* ハンバーグメニュ */

    .ham-btn {
        width : 100px;
        height : 100px;
        position : fixed;
        right : 100px;
        top : 0px;
        z-index : 1;
        background-image : url("./img/menu.png");
        background-size : 50%;
        background-repeat : no-repeat;
        background-position : center;
        cursor : pointer;
      }
  
      .close {
        width : 100px;
        height : 100px;
        position : absolute;
        right :100px;
        top : 0px;
        z-index : 1;
        background-image : url("./img/close.png");
        background-size : 50%;
        background-repeat : no-repeat;
        background-position : center;
        cursor : pointer;
      }
  
      #ham-menu {
        width : 100%;
        height : 100%;
        position : fixed;
        background-color: rgba( 0, 0, 0, 0.7 )!important;
        top : 0px;
        right : -110%;
        z-index : 10;
        border : 1px solid #c9c9c9;
        background-color : white;
        text-align : center;
        transition: All 0.8s ease; 
          -webkit-transition: All 0.8s ease; 
          -moz-transition: All 0.8s ease; 
          -o-transition: All 0.8s ease; 
        overflow: scroll;
      }
  
      #ham-menu.open {
        right : 0px;
      }
      
  
      #ham-menu .menu-list-wrap {
        text-align: center;
        width: 700px;
        margin:5px auto;
        padding: 10px;
      }

  
      #ham-menu .menu-list-wrap h1 {
        color: white;
      }


      .h1-item {
        font-size:1.3em;
        background: #3fb7c2;
        border-radius: 10px;
        padding:10px;
        color:white;
      }
  
      .ham-content {
          margin-top:20px;
        /* height: 250px; */
        background:rgba( 255, 255, 255, 0.8 ); 
      }

      .ham-content a {
        width: 100%;
        padding: 10px 0;
        font-size: 0.8rem;
        font-weight: bold;
        /* background: #3fb7c2;
        border:2px solid #1d828b; */
      }

      .ham-content h2.a-title {
        padding: 10px 0;
        background: #3fb7c2;
        font-weight: bold;
        font-size:1rem;
        color: white;
        border:2px solid #1d828b;
        cursor: pointer;
      }

      .ham-list {
        width: 100%;
        display: block;
        padding: 10px 0;
        font-size: 0.8em;
        background: none;
        text-align: center;
      }

      .ham-list li {
        margin: 10px;
        line-height: 2;         
      }
      

      .ham-list li:before {
        content:"▶";
        font-size: 0.7em;
        color: #3fb7c2;
        margin-right: 10px;
        line-height: 2;
    }
    
      
      /* .ham-content span {
        color:#fff;
        font-size:10px;
        display:inline-block;
        margin-left: 10px;
      }
      .ham-content span:after {
        content:"▶";
        color:#fff;
        margin-left: 5px;
      } */
  

      .ham-content a.a-title {
        width: 100%;
        display: block;
        padding: 10px 0;
        background: #3fb7c2;
        font-weight: bold;
        color: white;
        border:2px solid #1d828b;
        position: relative;
      }

      .link-btn {
        width: 70%;
        display: block;
        border: 3px solid #fff;
        padding: 20px 20px;
        font-size: 1.4em;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        margin: 40px auto;
        position: relative;
      }

      .link-btn:hover {
          background: rgba( 255, 255, 255, 0.8 );
          color:#1d828b;
      }

      .link-btn::after {
        content: "▶";
        font-size: 10px;
        position: absolute;
        right: 20px;
        bottom: 44px;
    }

      .a-title span.ico_ar {
          display: inline-block;
          font-size: 10px;
          margin-left: 30px;
          vertical-align: center;
          position: absolute;
          
      }
  
      
      .ham-content img {
        margin: 20px 0 0;
      }

      #banner-wrap {
        margin: 0 auto;
        padding: 50px 0;
        width: 100%;
        border-top: 2px dotted #ddd;
        text-align: center;
      }

      #banner-wrap a {
          margin-bottom: 10px;
          display: block;
      }

      #banner-wrap a:hover {
          opacity: .7;
      }

      .sub-header {
        width: 900px;
        margin: 0 auto;
    }

      .top_link_sub {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        -webkit-display: flex;
        -webkit-flex-flow: row nowrap;
        -webkit-justify-content: left;
        max-width: 900px;
        margin: 5px auto 0;
        font-size: 1em;
    }
    .top_link_sub a {
        border-radius: 5px;
        padding: 3px 10px 3px 10px;
        color: orangered;
        text-decoration: none;
        background: #fff;
        border: 2px solid orangered;
    }

    .c-link-box {
        padding: 10px 15px;
        line-height: 2;
        background: #e6fbfd;
        margin-bottom:20px;
    }
