@import "css/fonts.css";
@import "css/boxs.css";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "MS P Gothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

ol,
ul {
    display: block;
    list-style-type: none;
    text-align: left;
}

ol {
    list-style-type: decimal;
}

h6 {
    margin: 0;
}

.p10 {
    padding: 10px;
}

.m10 {
    margin: 10px;
}

#wrapper {
    width: 100%;
    margin-top: 60px;
}

h1.midashi {
    position: relative;
    padding: 0.45em 0;
    color: #d03956;
    margin: 1em 0 0.4em 0.2em;
    font-size: 1.2em;
}

h1.midashi:after {
    content: "";
    display: block;
    height: 4px;
    margin-top: 10px;
    background: -webkit-linear-gradient(to right, #e65a5a, transparent);
    background: linear-gradient(to right, #e65a5a, transparent);
}

h1.midashi-01 {
    background: yellowgreen;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

h1.midashi-02 {
    background: #e65a5a;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

h1.midashi-03 {
    background: #3f70c2;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

h2.midashi-h2-01 {
    border-top: 2px solid yellowgreen;
    border-bottom: 3px solid yellowgreen;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

h2.midashi-h2-02 {
    border-left: 5px solid #ee9393;
    background: #efefef;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

h2.midashi-h2-03 {
    border-left: 5px solid #759cdc;
    background: #efefef;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

#section-01,
#section-02,
#section-03,
#section-05 {
    margin: 0 5px 15px;
}

#section-01 .title-wrap {
    line-height: 1.2;
    margin: 10px 20px 20px;
}

#section-03 .point-list {
    margin-bottom: 20px;
}

#section-05 {
    padding: 0;
}

#section-05 .last-container {
    background: #f7cc44;
    padding: 0 0 10px;
    margin: -10px 0 30px;
}

#section-05 .last-txt {
    background: #fff;
    margin: 0 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid orange;
}

.txt-wrap {
    padding: 0 3px;
}

.txt-wrap p:not(:last-of-type) {
    margin-bottom: 10px;
}

table,
td,
th {
    font-size: 13px;
    margin: 10px 0;
    padding: 4px 2px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-01 .table-title {
    background: #ffe8b3;
    width: 50px;
}

th:not(.table-title) {
    width: 400px;
}

th .link-img img {
    width: 70px;
    height: auto;
}

.btn {
    height: 40px !important;
}

.btn td img {
    width: 80%!important;
}

.r-title p {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#section-02  {
    overflow: hidden;   
}
#section-02 #overBox {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

#section-02 .table-01 {
    border: solid 1px #ccc;
    text-align: center;
    font-weight: bold;
}
#section-02 .table-over {
    border: solid 1px #ccc;
    text-align: center;
    font-weight: bold;
    width: 170%;
    table-layout: fixed;
}

#section-02 .table-over.table-rank7 {
    width: 200%;
}

#section-02 .table-over tbody {
    position: relative;
}
#section-02 .table-over .table-title {
    position: sticky;
    left: -1px;
    z-index:2;
}

#section-02 .table-01 p {
    font-size: 0.8em;
}

#section-02 .table-01 .f-13 {
    font-size: 1.2em;
}

#section-02 .table-01 th,
#section-02 .table-01 td {
    border: solid 1px #ccc;
}

#section-02 .table-01 .crown {
    border: none !important;
}

#section-02 .table-01 td img {
    width: 70px;
}

#section-02 .table-01 td .small {
    width: 35px;
}

#section-04 {
    width: 100%;
}

#section-04 table,
#section-04 tbody,
#section-04 th,
#section-04 tr,
#section-04 td {
    border: none;
}

#section-04 table.r-table {
    width: 100%;
    table-layout: auto;
    text-align: center;
}
#section-04 table.r-table:not(:first-of-type) {
    margin-top: 40px;
}

#section-04 table.r-table th.r-title {
    border: solid 1px #ccc;
    background-color: rgba(204, 204, 204, 0.363);
    position: relative;
    padding: 25px 0 0;
    font-size: 16px;
}
#section-04 table.r-table th.r-title.no-ranking {
    padding: 25px 0 0;
}


#section-04 table.r-r-table th {
    background: #ffe8b3;
}

#section-04 table.r-r-table th,
#section-04 table.r-r-table td {
    width: 30%;
    padding: 8px;
    line-height: 130%;
    text-align: center;
    border: none;
    border-right: dotted 1px #ccc;
}

#section-04 .r-txtbox {
    padding: 20px 10px;
}

#section-04 .r-txtbox p {
    margin-bottom: 15px;
}
#section-04 td.r-img {
    padding: 20px 0;
}
#section-04 .r-img a img {
    max-width: 240px;
}
#section-04 .img-btn a img {
    width: 95%;
    margin: 20px auto;
    display: block;
}
.r-txtbox img {
    width: 100%;
}

p {
    font-size: 1em;
}

h1 {
    display: block;
    font-size: 1.2em;
}

.f-07 {
    font-size: 0.7em;
}

.f-09 {
    font-size: 0.9em;
}

.f-13 {
    font-size: 1.3em;
}

.f-15 {
    font-size: 1.5em;
}

.red {
    color: orangered;
    font-weight: bold;
}

.rred {
    color: red;
    font-weight: bold;
}

.pink {
    color: #e23f61;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.blue {
    color: #3030c7;
}

.gray {
    color: #999;
}

.bg-y {
    background: linear-gradient(transparent 50%, #fff45c 50%);
}

.under {
    text-decoration: underline;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    padding: 5px 0;
}

.link_txt {
    display: block;
    margin: 35px 0 10px;
    text-align: right;
    font-size: 1.5em;
    line-height: 1.2;
}
.link_txt .link {
    color: #4887d9;
    font-weight: bold;
    text-decoration: underline;
}
.link_txt .font-link {
    font-size: 0.9em;
}
@media (max-width: 360px) {
    .link_txt {
        margin: 25px 0 10px;
    }
    .link_txt .font-link {
        font-size: 0.8em;
    }
}
.link_txt sup {
    color: #4887d9;
    text-decoration: none;
}

.tenmetsu {
    animation: animate 0.5s infinite forwards alternate;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
}

.point-list {
    background: #f5f2f2;
    padding: 10px 30px 0;
    border: 2px dotted #ccc;
    font-size: 1.1em;
}

.point-list li {
    vertical-align: middle;
    margin-bottom: 10px;
}

.point-list p {
    padding: 10px 2px;
    font-size: 0.9rem;
}

.item-list {
    padding: 10px;
    font-size: 1em;
}

.item-list li {
    vertical-align: middle;
    margin-top: 8px;
}

.item-list a {
    color: #4e4e4e;
}

.item-list li:before {
    content: "▶";
    font-size: 0.7em;
    color: orange;
    margin-right: 10px;
}

.item-list li:after {
    content: "";
    display: block;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
}

.coupon-box {
    border-top: 4px dashed rgb(240, 163, 163);
    border-bottom: 4px dashed rgb(240, 163, 163);
    text-align: center;
    padding: 20px 10px;
    margin-top: 10px;
}

.coupon-box img {
    width: 90%;
    margin: 20px;
}

.coupon-text {
    margin-bottom: 10px;
}

.coupon-text div:first-child {
    margin-left: 10px;
}

.r-list {
    background: #fef5ed;
    border-radius: 30px;
    padding: 15px;
    font-size: 1.2em;
}

.r-list li:before {
    content: "";
    width: 13px;
    height: 14px;
    display: inline-block;
    background-image: url("../img/n_img/point_icon.png");
    background-size: contain;
    vertical-align: middle;
    margin-right: 4px;
}

.r-list li:not(:last-child) {
    margin-bottom: 8px;
}
.img-wrap img {
    width: 100%;
}

.img-wrap-last {
    text-align: center;
}

.img-wrap-last img {
    width: 250px;
}

.arrow {
    text-align: center;
}

.arrow img {
    width: 100px;
}

img.small {
    width: 35px;
}

.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-size: 1em;
}

.tabs li {
    float: left;
    text-align: center;
    cursor: pointer;
    width: 19.7%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    border-left: none;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    background: #fafafa;
    overflow: hidden;
    line-height: 1;
    position: relative;
    opacity: 0.3;
}

.tabs .active {
    opacity: 1;
    background: orangered !important;
    color: white;
    border-bottom: 1px solid #ffffff;
}

.tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
}

.tab_content {
    width: 100%;
    font-size: 1em;
    display: none;
}

#menu .menubox {
    width: auto;
    background-color: #efefef;
    /* margin-left: -40px; */
}

#menu #menu1 li {
    background-image: url("img/menu_bg.gif");
    background-repeat: repeat-x;
    background-position: left bottom;
    height: 48px;
    line-height: 48px;
    margin: 0;
    font-size: 0.8em;
    padding: 0 0 1px 10px;
}

footer {
    background: #ec833d;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 0.7em;
}

.accordion-container {
    position: relative;
    width: 100%;
    border-top: none;
    font-family: "メイリオ", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    outline: 0;
    cursor: pointer;
}

.accordion-container .article-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    background-color: #f3cb51;
    font-size: 1em;
    font-weight: bold;
    color: #535353;
    cursor: pointer;
    text-align: center;
}

.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
    background-color: #f3cb51;
    color: #535353;
    display: block;
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    cursor: pointer;
    text-align: center;
}

.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
    color: white;
}

.accordion-container .content-entry i {
    position: absolute;
    top: 3px;
    left: 12px;
    font-style: normal;
    font-size: 1.625em;
    color: #fff;
}

.accordion-container .content-entry i:before {
    content: "+ ";
}

.accordion-container .content-entry.open i:before {
    content: "- ";
}

.accordion-content {
    margin-top: 10px;
}

#content {
    width: 100%;
}

.accordion-container,
#description {
    width: 100%;
    margin-bottom: 2em;
}

#description p {
    line-height: 1.5;
}

#description h2 {
    text-align: center;
}


/* LOGO追加 */

#logo {
    margin: 0 auto;
    width: 100%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

#logo>nav.logoNav {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 2px solid orangered;
    /* box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.2 ); */
    z-index: 99;
}

#logo>nav.logoNav .logoBox {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo>nav.logoNav .logoBox a {
    display: block;
}

#logo>nav.logoNav .logoBox img {
    min-width: 100px;
}


/* ハンバーグメニュ */

.ham-btn {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 0;
    top: -6px;
    z-index: 100;
    background-image: url("./img/menu.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.close {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 100;
    background-image: url("./img/close.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#ham-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7) !important;
    top: 0px;
    right: -110%;
    z-index: 99;
    border: 1px solid #c9c9c9;
    background-color: white;
    text-align: center;
    transition: All 0.8s ease;
    -webkit-transition: All 0.8s ease;
    -moz-transition: All 0.8s ease;
    -o-transition: All 0.8s ease;
    overflow: scroll;
}

#ham-menu.open {
    right: 0px;
}

#ham-menu .menu-list-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

#ham-menu .menu-list-wrap h1 {
    color: white;
}

.h1-item {
    font-size: 1.3em;
    background: #3fb7c2;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.ham-content {
    margin-top: 20px;
    /* height: 250px; */
    background: rgba(255, 255, 255, 0.8);
}

.ham-content a {
    width: 100%;
    padding: 10px 0;
    font-size: 0.8rem;
    font-weight: bold;
    /* background: #3fb7c2;
        border:2px solid #1d828b; */
}

.ham-content h2.a-title {
    padding: 10px 0;
    background: #3fb7c2;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    border: 2px solid #1d828b;
    cursor: pointer;
}

.ham-list {
    width: 100%;
    display: block;
    font-size: 0.8em;
    background: none;
    text-align: center;
    padding-bottom: 10px;
}

.ham-list li {
    margin: 10px;
    line-height: 2;
    text-align: left;
}

.ham-list li:before {
    content: "▶";
    font-size: 0.7em;
    color: #3fb7c2;
    margin-right: 10px;
    line-height: 2;
}

.ham-content a.a-title {
    width: 100%;
    display: block;
    padding: 10px 0;
    background: #3fb7c2;
    font-weight: bold;
    color: white;
    border: 2px solid #1d828b;
    position: relative;
}

.link-btn {
    display: block;
    border: 3px solid #fff;
    padding: 10px 10px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 40px 5px;
    position: relative;
}

.link-btn::after {
    content: "▶";
    font-size: 10px;
    position: absolute;
    right: 10px;
    bottom: 24px;
}

.a-title span.ico_ar {
    display: inline-block;
    font-size: 10px;
    margin-left: 30px;
    vertical-align: center;
    position: absolute;
    line-height: 20px;
}

.ham-content img {
    margin: 20px 0 0;
}

#banner-wrap {
    margin: 30px auto;
    width: 90%;
}

#banner-wrap a {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: block;
}

#banner-wrap a:hover {
    border: 2px solid #999;
}

.sub-header {
    margin: 0 auto;
    height: 22px;
}

.top_link_sub {
    position: relative;
    margin: 5px auto 0;
    font-size: 0.7em;
}

.top_link_sub a {
    position: absolute;
    top: -5px;
    right: 0;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    color: orangered;
    text-decoration: none;
    background: #fff;
    border: 2px solid orangered;
}

.c-link-box {
    padding: 10px 15px;
    line-height: 2;
    background: #e6fbfd;
    margin-bottom: 20px;
}

sup {
    color: red;
    font-size: 0.6em;
}

.meta-notes {
    padding: 5px 10px;
    color: #333;
    position: relative;
}

.meta-notes .grad-trigger {
    font-size: 0.9em;
    padding: 5px;
    margin: 1px auto;
    display: block;
    background-color: #eee;
    text-align: center;
}

.meta-notes .grad-trigger:after {
    content: "続きを読む +";
}

.meta-notes .grad-item {
    position: relative;
    bottom: 0;
    overflow: hidden;
}

.meta-notes .grad-item:before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 40px;
    /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient( top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
    background: linear-gradient( top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
}

.meta-notes .grad-item.is-hide {
    height: 100px;
    /*隠した後の高さ*/
}

.meta-notes .grad-trigger.is-show+.grad-item:before {
    display: none;
}

.meta-notes p {
    padding-top: 0 !important;
    margin: 0 !important;
    text-indent: -1em;
    padding-left: 1em;
    font-size: 0.7rem;
}

/* footer-new */

.content-menu {
    color: white;
    text-align: center;
    font-size: 0.8em;
} 
.content-menu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #fc4a1a;
    background: -webkit-linear-gradient( to bottom, #fa6615, #fc4a1a);
    background: linear-gradient( to bottom, #fa6615, #fc4a1a);
    padding: 10px;
}
.content-menu ul li {
    margin: 10px 10px 10px 0;
    width: 45%;
}
.content-menu ul li a {
    color: white;
    font-weight: bold;
}
.content-menu ul li a:before {
    display: inline-block;
    content: "▶";
    margin-right: 10px;
}
/* Countdown */

#countdown_bx {
    text-align: center;
    border: 1px solid orangered;
}

#countdown_bx .link_txt_2 {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

#countdown_bx .big {
    font-size: 1.7rem;
    background: #302f2f;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#countdown {
    font-size: 1.2em;
    background: orangered;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}