@charset "shift_jis";
/* ★fixedCss(20150303)★ */
img{max-width:100%;height:auto;}
a{line-height:130%;}
.youtube-box {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.youtube-box iframe,  
.youtube-box object,  
.youtube-box embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#footer a{
margin:5px;
padding:3px;
}
#sitemaps li{
padding-top:6px;
padding-bottom:6px;
}
#entrylist dt{
padding-top:8px;
padding-bottom:5px;
}
/* 共通 */
.rank1,.rank2,.rank3,.rank4,.rank5,.point,.point1,.point2,.point3,.point4,.point5,.point6,.point7,.point8,.point9,.point10{
font-family: sans-serif;
font-weight:bold;
_zoom: 1;
}
#main h4{
clear:none;
}
h4,h5,h6,ul,ol{
_zoom: 1;
overflow: hidden;
}
.lbg{
line-height:140%;
}
.img-center{
width:100%;
text-align:center;
padding:8px 0;
clear:both;
}
.fix-img .img-center{
width:auto;
display:inline;
}
/* ランキング */
#main .rank1,#main .rank2,#main .rank3,#main .rank4,#main .rank5 {
background-repeat: no-repeat;
min-height: 25px;
font-size: 16px;
line-height:120%;
margin:10px 0 16px 0;
padding: 14px 0px 5px 55px;
color: #333;
border-bottom:dotted 1px #666;
height:auto;
clear: both;
}
#main .rank1{
background-image: url(../img/rank1_a.gif);
}
#main .rank2{
background-image: url(../img/rank2_a.gif);
}
#main .rank3{
background-image: url(../img/rank3_a.gif);
}
#main .rank4{
background-image: url(../img/rank4_a.gif);
}
#main .rank5{
background-image: url(../img/rank5_a.gif);
}
/* ポイント */
#main .point1,#main .point2,#main .point3,#main .point4,#main .point5 ,#main .point6 ,#main .point7 ,#main .point8 ,#main .point9 ,#main .point10 {
background-repeat: no-repeat;
min-height: 25px;
padding-left: 46px;
font-size: 16px;
margin-top: 10px;
padding-top: 14px;
margin-bottom: 10px;
border-bottom:dotted 2px #CCC;
color: #3F3F3F;
background-position: 4px top;
clear: both;
height:auto;
}
#main .point {
font-size: 15px;
color: #333;
background-image: url(../img/point.png);
background-repeat: no-repeat;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 60px;
margin-bottom: 5px;
line-height:130%;
}
#main .point1{
background-image: url(../img/point1.gif);
}
#main .point2{
background-image: url(../img/point2.gif);
}
#main .point3{
background-image: url(../img/point3.gif);
}
#main .point4{
background-image: url(../img/point4.gif);
}
#main .point5{
background-image: url(../img/point5.gif);
}
#main .point6{
background-image: url(../img/point6.gif);
}
#main .point7{
background-image: url(../img/point7.gif);
}
#main .point8{
background-image: url(../img/point8.gif);
}
#main .point9{
background-image: url(../img/point9.gif);
}
#main .point10{
background-image: url(../img/point10.gif);
}
/* 矢印 */
.arrow_blue,.arrow_orange,.arrow_black,.arrow_red{
background-repeat: no-repeat;
font-weight: bold;
line-height: 160%;
font-size: 16px;
background-position: left center;
padding-left: 25px;
margin-top: 3px;
margin-bottom: 3px;
font-family:sans-serif;
_zoom: 1;
overflow: hidden;
}
.arrow_blue {
background-image: url(../img/arrow_blue.gif);
}
.arrow_orange {
background-image: url(../img/arrow_orange.gif);
}
.arrow_black {
background-image: url(../img/arrow_black.gif);
}
.arrow_red {
background-image: url(../img/arrow_red.gif);
}
/* 文字装飾 */
#main blockquote {
font-size:12px;
color:#666666;
border: 2px dotted #CCCCCC;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin: 15px;
line-height: 130%;
}
#main .alert,#main .accept,#main .attention,#main .thint{
font-size: 12px;
line-height: 130%;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 55px;
margin-top: 10px;
margin-bottom: 10px;
background-position:8px 3px;
}
#main .alert {
background-color: #FFEFEF;
background-image: url(../img/alert.png);
background-repeat: no-repeat;
background-position: 10px 6px;
color: #A2462F;
border: 1px solid #FABDA7;
}
#main .accept {
border: 1px solid #C2E39B;
background-color: #EFFADA;
background-image: url(../img/accept.png);
background-repeat: no-repeat;
color: #346F15;
}
#main .attention {
border: 1px solid #FDE8A8;
background-color: #FEF8E0;
background-image: url(../img/attention.png);
background-repeat: no-repeat;
color: #804900;
}
#main .thint {
border: 1px solid #C5D7ED;
background-color: #EFF4FA;
background-image: url(../img/thint.png);
background-repeat: no-repeat;
color: #2C4F7A;
}
#main  .user1,#main .user2 {
font-size: 12px;
line-height: 130%;
padding-top: 12px;
padding-right: 12px;
padding-bottom: 12px;
padding-left: 100px;
margin-top: 10px;
margin-bottom: 10px;
background-repeat: no-repeat;
background-position: 12px 12px;
background-color: #EFF4FA;
border: 1px solid #C5D7ED;
min-height: 70px;
_height:70px;
_zoom: 1;
overflow: hidden;
}
#main  .user1{
background-image: url(../img/user1.png);
}
#main  .user2{
background-image: url(../img/user2.png);
}
#main .noimage{
padding-left:12px;
background-image: none;
min-height:15px;
}
.ylw{
background-color:#FFE566;
font-weight:bold;
padding:2px;
}
/* ボックス */
#main .nmlbox,#main .dottbox,#main .ylwbox,#main .graybg{
padding:15px;
margin-top: 10px;
margin-bottom: 10px;
clear:both;
}
#main  .graybg{
background-color:#EBEBEB;
}
#main .dottbox{
border:dotted 1px #666;
}
#main .nmlbox {
border: 2px solid #CCCCCC;
}
#main .ylwbox {
background-color: #FFFFD2;
border: 2px solid #CC0000;
}
/* 水平線 */
.border1,.border2,.border3,.borderdot,.borderdot2{
margin: 10px;
padding: 0px;
line-height: 1px;
height: 1px;
_zoom: 1;
overflow: hidden;
}
.border1 {
border-bottom:solid 1px #999;
}
.border2 {
border-bottom:solid 1px #990000;
}
.border3 {
border-bottom:solid 1px #003366;
}
.borderdot {
border-top:dotted 1px #999;
}
.borderdot2 {
border-top:dotted 2px #999;
}
.layout_l{
float:left;
}
.layout_r{
float:right;
}
.hd,.hd:hover,.hd:visited{
color:#333;
text-decoration:none;
}
/* 角丸 */
.rnd1{
padding: 15px;
margin: 15px auto 15px auto;
}
.rnd1{
position:relative;
z-index:1;
padding: 15px;
margin: 15px auto 15px auto;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
behavior: url(http://nyusankin-supplement-navi.net/css/PIE.htc);
}
.rbox1 {
background-color: #f0f0f0;
border: 1px solid #d7d7d7;
}
.rbox2 {
background-color: #FFF;
border: 2px solid #FF843F;
}
.rbox3 {
background-color: #FFF;
}
.rbox4 {
background-color: #F5F5F5;
}
/* シャドウ */
.shadow1,.shadow2,.shadow3{
padding: 15px;
margin: 15px auto 15px auto;
}
.shadow1{
-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.shadow2{
-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
/* FAQ */
.question1 {
font-size: 17px;
font-weight: bold;
line-height: 130%;
margin: 15px auto 4px auto;
padding: 5px 0 6px 50px;
background-image: url(../img/q1.png);
background-repeat: no-repeat;
background-position: 10px top;
}
.answer1 {
background-color:#F5F5F5;
position:relative;
font-size: 13px;
line-height:140%;
border:solid 1px #CCC;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
margin: 5px auto 35px auto;
padding: 20px 20px 20px 60px;
background-image: url(../img/a1.png);
background-repeat: no-repeat;
background-position: 12px 18px;
behavior: url(http://nyusankin-supplement-navi.net/css/PIE.htc);
}
.question2 {
font-size: 17px;
font-weight: bold;
line-height: 130%;
margin: 20px auto 4px auto;
padding: 5px 0 6px 50px;
background-image: url(../img/q2.png);
background-repeat: no-repeat;
background-position: 10px top;
}
.answer2 {
position:relative;
font-size: 13px;
line-height:140%;
margin: 5px auto 15px auto;
padding: 10px 10px 20px 50px;
background-image: url(../img/a2.png);
background-repeat: no-repeat;
background-position: 10px 12px;
border-bottom:dotted 1px #CCC;
}
/* 吹き出し */
.bln{
font-size:13px;
line-height:130%;
_zoom: 1;
overflow: hidden;
padding:0;
margin: 0;
color: #333333;
}
.b_body{
margin:0;
width:auto;
padding:12px 19px;
_zoom: 1;
overflow: hidden;
}
.balloon1 .b_body{
background-color:#F5F5F5;
border:solid 1px #CCC;
}
.balloon2 .b_body{
background-color:#FFF;
border:solid 1px #CCC;
}
.balloon3 .b_body{
background-color:#EBEBEB;
}
.balloon4 .b_body{
background-color:#EAF1FF;
border:solid 1px #6AA3F9;
}
.balloon5 .b_body{
background-color:#FFEAEA;
border:solid 1px #F96565;
}
.balloon6 .b_body{
background-color:#FFF;
border:solid 2px #CC0000;
}
.balloon7 .b_body{
background-color:#FFF;
border:solid 2px #0080B8;
}
.balloon8 .b_body{
background-color:#FFF;
border:solid 2px #FF8201;
}
.balloon9 .b_body{
background-color:#FFF;
border:2px solid #739221;
}
.bln .img-l{
position:relative;
z-index:100;
background-image:url(../img/balloon.png);
top: 18px;
left:1px;
float:left;
width: 28px;
height: 19px;
margin:0;
}
.bln .img-r{
position: relative;
z-index:100;
background-image:url(../img/balloon.png);
top: 18px;
right:1px;
float:right;
width: 28px;
height: 19px;
margin:0;
}
.bln .img-t{
position: relative;
z-index:100;
background-image:url(../img/balloon.png);
top:1px;
left: 30px;
width: 22px;
height: 22px;
float:none;
margin:0;
}
.bln .img-b{
position: relative;
z-index:100;
background-image:url(../img/balloon.png);
bottom:1px;
left: 30px;
width: 22px;
height: 22px;
margin:0;
}
div.bln:after{height:0; visibility: hidden; content: ".";   display: block; clear: both;}
.balloon1 .img-b{ background-position: 0 0;} 
.balloon1 .img-l{ background-position: 0 -72px;} 
.balloon1 .img-r{ background-position: 0 -139px;} 
.balloon1 .img-t{ background-position: 0 -206px;} 
.balloon2 .img-b{ background-position: 0 -278px;} 
.balloon2 .img-l{ background-position: 0 -350px;} 
.balloon2 .img-r{ background-position: 0 -417px;} 
.balloon2 .img-t{ background-position: 0 -484px;} 
.balloon3 .img-b{ background-position: 0 -556px;} 
.balloon3 .img-l{ background-position: 0 -628px;} 
.balloon3 .img-r{ background-position: 0 -695px;} 
.balloon3 .img-t{ background-position: 0 -762px;} 
.balloon4 .img-b{ background-position: 0 -834px;} 
.balloon4 .img-l{ background-position: 0 -906px;} 
.balloon4 .img-r{ background-position: 0 -973px;} 
.balloon4 .img-t{ background-position: 0 -1040px;} 
.balloon5 .img-b{ background-position: 0 -1112px;} 
.balloon5 .img-l{ background-position: 0 -1184px;} 
.balloon5 .img-r{ background-position: 0 -1251px;} 
.balloon5 .img-t{ background-position: 0 -1318px;} 
.balloon6 .img-b{ background-position: 0 -1390px;bottom:2px;} 
.balloon6 .img-l{ background-position: 0 -1462px;left:2px;} 
.balloon6 .img-r{ background-position: 0 -1531px;right:2px;} 
.balloon6 .img-t{ background-position: 0 -1600px;top:2px;} 
.balloon7 .img-b{ background-position: 0 -1672px;bottom:2px;} 
.balloon7 .img-l{ background-position: 0 -1744px;left:2px;} 
.balloon7 .img-r{ background-position: 0 -1813px;right:2px;} 
.balloon7 .img-t{ background-position: 0 -1882px;top:2px;} 
.balloon8 .img-b{ background-position: -78px 0;bottom:2px;} 
.balloon8 .img-l{ background-position: -78px -72px;left:2px;}
.balloon8 .img-r{ background-position: -78px -141px;right:2px;}
.balloon8 .img-t{ background-position: -78px -210px;top:2px;}
.balloon9 .img-b{ background-position: -78px -282px;bottom:2px;} 
.balloon9 .img-l{ background-position: -78px -354px;left:2px;} 
.balloon9 .img-r{ background-position: -78px -423px;right:2px;} 
.balloon9 .img-t{ background-position: -78px -492px;top:2px;} 
/* フッターメニュー */
#footermenu{
text-align:center;
padding:5px;
}
/* ★fixedCss(20140313)★ */
/*
==================================================
テーブル共通
==================================================
*/
table{
width:100%;
font-size:13px;
margin:10px 0;
border-collapse: collapse;
border-spacing:0px;
}
th{
background-color:#EBEBEB;
padding:0;
}
td{
background-color:#FFFFFF;
padding:0;
}
table,td,th{
border:solid 1px #CCC;
}
table#toptbl,table#toptbl td,table#toptbl th{
   border:none;
}
#menu .ritem td,#rmenu .ritem td{border:none;}
.rtitle {
height: 44px;
text-align: center;
overflow: hidden;
padding: 4px;
}
.rimg {
text-align: center;
}
.timg img{
max-width:200px;
height:auto;
}
.price {
color: #CC0000;
font-weight: bold;
}
.tdesc {
text-align: left;
vertical-align: top;
}
/*
==================================================
商品陳列型
==================================================
*/
.ritm{
background-color:#FFFFFF;
table-layout:fixed;
}
.ritm th,.ritm td{
padding:6px;
line-height: 120%;
vertical-align:top;
text-align: center;
}
/*
==================================================
特定取引法に関する表記
==================================================
*/
.tokusho {
}
.tokusho th, .tokusho td {
padding: 8px;
}
.tokusho th {
background-color: #E3E3E3;
width: 30%;
}
/*
==================================================
商品説明
==================================================
*/
.ritm_desc {
}
.ritm_desc td {
vertical-align: top;
padding: 10px;
}
.ritm_desc .title {
background-color: #EBEBEB;
padding: 5px;
margin-bottom: 8px;
text-align:left;
line-height:120%;
font-family: 'HGP創英角ｺﾞｼｯｸUB', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W6', sans-serif;
font-weight:normal;
}
.ritm_desc .title a{
color:#333;
}
.ritm_desc .title a:hover{
color:#FF0000;
}
.ritm_desc .desc{
padding:20px;
}
.ritm_desc .price {
text-align: left;
padding: 0px;
}
.ritm_desc .img {
width: 20%;
}
.ritm_desc .more, .ritm_desc .price, .ritm_desc .review {
line-height: 25px;
height: 25px;
margin-right: 5px;
margin-left: 5px;
}
/*
==================================================
ランキングテーブル１
==================================================
*/
table.rnk1item {
table-layout:auto;
border:solid 1px #CCC;
}
.rnk1item td,.rnk1item th{
border:none;
border-bottom:dotted 1px #CCC;
}
.rnk1item th {
background-color: #FFF;
width: auto;
padding:5px;
width:60px;
vertical-align:middle;
}
.rnk1item td {
background-color: #FFFFFF;
vertical-align: top;
font-size: 12px;
line-height: 130%;
padding: 15px 10px;
}
.rnk1item .ttitle {
font-size: 18px;
font-weight: bold;
margin-bottom: 12px;
line-height: 130%;
}
.rnk1item th, .rnk1item td {
}
.rnk1item .timg {
width: auto;
padding-top: 10px;
vertical-align:middle;
}
.rnk1item .alt th, .rnk1item .alt td {
}
/*
==================================================
ランキングテーブル２
==================================================
*/
table.rnk2item {
table-layout:auto;
border:solid 1px #CCC;
}
.rnk2item .timg, .rnk2item .tdesc {
padding: 8px;
vertical-align: top;
}
.rnk2item th.ttitle {
padding: 10px;
text-align: left;
font-size: 16px;
}
.rnk2item td{
overflow:hidden;
}
.rnk2item td.tdesc {
width:100%;
}
.rnk2item td.timg {
width:auto;
}
.rnk2item td.tdesc,.rnk2item td.timg {
border:none;
}
.rnk2item .timg img {
padding-bottom: 10px;
height:auto;
}
.rnk2item .tdesc {
line-height: 150%;
}
table.rnk2item table.ttable {
width:101%;
margin: 0px;
padding: 0px;
border:none;
table-layout:fixed;
}
.ttable th, .ttable td {
padding: 8px;
line-height:130%;
text-align: center;
border:none;
border-right:dotted 1px #CCC;
}
/*
==================================================
ランキングテーブル３
==================================================
*/
.rnk3item {
table-layout:auto;
border:solid 1px #CCC;
}
.rnk3item th {
text-align: left;
padding: 8px;
font-size: 17px;
}
.rnk3item th img {
vertical-align: bottom;
margin-right: 6px;
}
.rnk3item td {
padding: 10px;
border:none;
}
.rnk3item td.timg {
text-align: center;
width: auto;
}
.rnk3item .img-center{
width:auto;
display:inline;
}
.rnk3item th img{
float:left;
}
/*
==================================================
価格比較テーブル
==================================================
*/
.prc1item {
table-layout:auto;
}
.prc1item th {
padding: 6px;
text-align: center;
}
.prc1item td {
text-align: center;
padding: 6px;
}
.prc1item td {
text-align: center;
padding: 6px;
}
.prc1item .alt td {
background-color: #F5F5F5;
}
.prc1item .price {
text-align: right;
width: 100px;
font-size:15px;
}
/*
==================================================
項目説明型
==================================================
*/
.dsc1item,.dsc2item {
background-color: #CCCCCC;
table-layout:fixed;
}
.dsc1item th, .dsc1item td,.dsc2item th, .dsc2item td {
padding: 6px;
}
.dsc1item th{
width:30%;
}
.dsc1item th , .dsc2item th {
text-align: center;
}
.dsc1item td , .dsc2item td {
vertical-align: top;
}
/*
==================================================
メニュー型
==================================================
*/
.tblmenu1item td {
font-size: 12px;
line-height: 130%;
vertical-align:top;
}
.tblmenu1item td .ttitle {
background-color: #EEEEEE;
font-weight: bolder;
padding: 7px;
margin-bottom: 8px;
font-size: 13px;
}
/*
==================================================
スマートフォンへの最適化(不要な場合は下記を削除)
==================================================
*/
td,th,tr{
-moz-box-sizing: border-box;
box-sizing: border-box;
}
tr{
width:100%;
}
/* ランキング1 */
.rnk1item th,.rnk1item td{
width:100%;
display:block;
border:none;
}
.rnk1item tr{
border-bottom:solid 1px #CCC;
}
.rnk1item .timg,.rnk1item th,.rnk1item .timg p,.rnk1item th p{
text-align:center !important;
}
/* ランキング2 */
.rnk2item td.timg, .rnk2item td.tdesc{
display:block;
width:100%;
border-right:solid 1px #CCC;
}
.rnk2item td.timg{
text-align:center !important;
}
/* ランキング3 */
.rnk3item th, .rnk3item td{
display:block;
width:100%;
}
/* 特商ページ */
.tokusho td,.tokusho th{
display:block;
width:100%;
}
/*
==================================================
カラーの変更
==================================================
*/
table{
<% tableBackgroundColor %>
<% tableFontColor %>
}
td{
<% tdBackgroundColor %>
<% tdFontColor %>
}
th{
<% thBackgroundColor %>
<% thFontColor %>
}
body {
text-align:center;
color:#333;
font-size:14px;
line-height:140%;
font-family:'メイリオ', Helvetica, HiraKakuProN-W3, sans-serif;
margin:0;
padding:0;
}
div,p,h1,h2,h3,h4,h5,h6 {
display:block;
text-align:left;
margin:0;
padding:0;
}
img {
max-width:100%;
}
.FloatEnd {
clear:both;
display:block;
height:1px;
}
a,a:visited {
color:#069;
}
a:hover {
color:red;
}
a img {
border:none;
text-decoration:none;
}
.txt-img img {
margin:0 10px 10px;
}
strong {
font-weight:700;
margin:0 0.2em;
padding:0;
}
em {
font-weight:400;
text-decoration:underline;
margin:0 0.2em;
padding:0;
}
ul,ol {
display:block;
_margin-left:0;
_margin-right:0;
}
ul {
margin-top:10px;
margin-bottom:10px;
_margin-left:20px;
_padding-left:20px;
}
ol {
list-style-type:decimal;
_margin-left:30px;
_padding-left:20px;
margin:10px 0;
}
*:first-child+html ol {
margin-left:30px;
padding-left:20px;
}
li {
display:list-item;
margin:0;
}
ul li {
list-style-type:none;
list-style-image:url(./img/li.gif);
}
p {
width:auto;
margin:0 auto;
}
#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9,#text10 {
margin-bottom:25px;
padding:10px 14px;
}
#text1{
margin-bottom:25px;
padding:0 14px 10px 14px;
}
#siteNavi {
font-size:11px;
line-height:1.5em;
margin-bottom:5px;
padding:5px;
}
#contents {
_height:10px;
padding-bottom:10px;
}
#menu:after,#contents:after {
height:1px;
overflow:hidden;
content:"";
display:block;
clear:both;
}
#footer {
text-align:center;
color:#FFFFFF;
line-height:20px;
height:64px;
background-image:url(./img/footer.gif);
background-repeat:repeat-x;
background-position:left top;
padding-top:15px;
}
#footer a {
color:#FFFFFF;
text-decoration:none;
}
#footlink {
text-align:center;
padding-top:8px;
padding-bottom:8px;
color:#666;
font-size:12px;
background-color:#E5E5E5;
}
#footlink a {
color:#666;
margin-right:5px;
margin-left:5px;
}
#space3,#space4,#space5,#space6 {
background-color:#FFF;
text-align:center;
padding-top:15px;
padding-bottom:15px;
}
#text1 h3,#text2 h3,#text3 h3,#text4 h3,#text5 h3,#text6 h3,#text6 h3,#text7 h3,#text8 h3,#text9 h3,#text10 h3 {
position:relative;
left:-12px;
width:108%;
margin-top:15px;
margin-bottom:15px;
}
#searchbox {
text-align:center;
line-height:50px;
font-size:13px;
height:50px;
background-image:url(./img/search_bg.gif);
color:#FFF;
text-shadow:2px 2px 2px #333;
}
#searchbox input {
vertical-align:middle;
margin-right:2px;
margin-left:2px;
}
#searchbox form {
margin:0;
padding:0;
}
form input {
vertical-align:middle;
}
h1 {
font-size:14px;
color:#FFF;
line-height:24px;
padding:3px 5px;
background-repeat:repeat-x;
background-image:url(./img/h1.gif);
text-align:center;
text-shadow:3px 3px 3px #333;
background-color:#703100;
}
h1 a,h1 a:hover,h1 a:visited {
color:#FFF;
text-decoration:none;
}
#main h2,#main h3 {
font-size:18px;
line-height:22px;
background-color:#854312;
color:#FFF;
text-shadow:1px 1px 1px #333;
border-top:solid 1px #572D0D;
border-bottom:solid 1px #572D0D;
padding:0px;
}
#main h2 span,#main h3 span{
border-top:solid 1px #FFF;
border-bottom:solid 1px #FFF;
display:block;
padding:5px 15px;
}
#main h5 {
background-image:url(img/h5.gif);
background-position:left 2px;
background-repeat:no-repeat;
font-size:15px;
line-height:20px;
text-indent:25px;
margin-top:10px;
margin-bottom:3px;
}
#main h4 {
background-image:url(./img/h4.gif);
background-repeat:no-repeat;
background-position:left bottom;
border-bottom-width:1px;
border-bottom-style:dotted;
border-bottom-color:#666;
margin-top:6px;
margin-bottom:8px;
font-size:16px;
padding-left:15px;
padding-bottom:1px;
line-height:20px;
}
#main h6 {
background-image:url(img/h6.gif);
background-repeat:no-repeat;
background-position:left center;
padding-left:20px;
font-size:15px;
line-height:20px;
margin-top:6px;
margin-bottom:6px;
}
#sitemaps {
padding:0 10px;
}
#sitemaps li {
list-style-type:none;
list-style-image:none;
}
#sitemaps .sbox1,#sitemaps .sbox2 {
width:47%;
margin-top:5px;
margin-bottom:5px;
padding:5px;
}
#sitemaps .sbox1 {
float:left;
clear:left;
}
#sitemaps .sbox2 {
float:right;
clear:right;
}
#sitemaps .l1 {
background-image:url(./img/sitemap_l1.jpg);
line-height:26px;
height:26px;
font-weight:700;
margin-bottom:5px;
margin-top:0;
background-repeat:no-repeat;
background-position:5px center;
padding-left:35px;
overflow:hidden;
}
#sitemaps .l2 {
background-image:url(img/sitemap_l2.jpg);
background-repeat:no-repeat;
background-position:left 4px;
line-height:20px;
text-indent:15px;
margin-left:22px;
margin-bottom:3px;
}
#sitemaps .l3 {
background-image:url(img/sitemap_l3.jpg);
background-repeat:no-repeat;
background-position:left 4px;
line-height:20px;
text-indent:15px;
margin-left:38px;
margin-bottom:3px;
}
#whatsnew {
border:1px solid #CCC;
background-image:url(img/whats_top.jpg);
background-repeat:no-repeat;
background-position:left top;
padding:45px 10px 10px;
}
#whatsnew li {
line-height:25px;
list-style-image:url(img/whats_li.jpg);
margin-right:10px;
margin-left:10px;
}
#categorylist {
margin-top:10px;
margin-bottom:10px;
padding:0;
}
#categorylist .cbox {
background-image:url(img/entrylist.gif);
background-repeat:repeat-x;
font-size:12px;
line-height:130%;
min-height:100px;
padding:15px 10px 10px;
}
#categorylist .title {
clear:none;
font-size:14px;
line-height:22px;
overflow:hidden;
margin:0 0 8px;
padding:0;
}
#categorylist .desc {
font-size:12px;
line-height:130%;
color:#505050;
padding:10px;
}
#categorylist .more {
text-align:right;
padding-right:10px;
padding-left:10px;
padding-bottom:5px;
}
#categorylist .bottom {
background-image:url(img/categorylist_bottom.jpg);
background-repeat:no-repeat;
background-position:center bottom;
}
#entrylist {
padding:10px;
}
#entrylist dl {
display:block;
padding:6px;
}
#main #entrylist h4 {
color:#069;
background-image:url(./img/entlist_title.jpg);
background-repeat:no-repeat;
background-position:left bottom;
padding-left:30px;
margin:0 0 10px;
}
#entrylist dt {
font-weight:700;
font-size:14px;
background-image:url(./img/entlist.jpg);
background-repeat:no-repeat;
background-position:left center;
padding-left:15px;
line-height:24px;
margin-top:8px;
margin-bottom:3px;
}
#entrylist dd {
margin-left:15px;
margin-bottom:8px;
font-size:12px;
color:#757575;
line-height:120%;
margin-bottom:8px;
}
.txt-border {
background-image:url(img/dott.gif);
line-height:22px;
font-size:13px;
background-position:0 5px;
margin:10px;
padding:0;
}
.txt-border p {
line-height:22px;
font-size:13px;
}
.txt-yellowback {
background-color:#FFF9DF;
border:2px solid #C00;
}
.txt-grayback {
border:1px solid #D9D9D9;
background-color:#E6E6E6;
}
.txt-colorback {
border:1px solid #FFB380;
background-color:#FFF2DF;
}
.hd {
color:#333;
text-decoration:none;
}
#main .txt-grayback,#main .txt-colorback,#main .txt-line {
margin-top:10px;
margin-bottom:10px;
padding:15px;
}
#menu ul,#rmenu ul {
list-style-type:none;
list-style-image:none;
margin:0;
padding:0;
}
#menu li,#rmenu li {
list-style-type:none;
list-style-image:none;
display:block;
_display:inline;
background-image:url(img/menu_bg.gif);
background-repeat:repeat-x;
background-position:left bottom;
height:48px;
line-height:48px;
margin:0;
padding:0 0 1px;
}
#menu li a {
height:48px;
line-height:48px;
display:block;
font-size:12px;
text-decoration:none;
background-repeat:no-repeat;
background-position:right center;
padding-right:6px;
padding-left:15px;
color:#333;
background-image:url(./img/menu_arrow.gif);
overflow:hidden;
margin:0;
}
#menu li a:hover {
background-color:#F5E0D1;
}
.menubox {
width:auto;
background-color:#EFEFEF;
}
#searchresult {
padding:15px;
}
#searchresult dt {
background-image:url(img/entlist.jpg);
background-repeat:no-repeat;
background-position:left center;
margin-top:15px;
font-size:14px;
padding-left:16px;
}
#searchresult dd {
line-height:130%;
font-size:13px;
margin:0;
}
h1,h2,h3,h4,.title,.menutitle,.rank1,.rank2,.rank3,.rank4,.rank5,.point,.point1,.point2,.point3,.point4,.point5 {
font-weight:700;
}
h1,h2,h3,h4,#categorylist .cbox:after {
clear:both;
}
form,dl,#sitemaps ul {
margin:0;
padding:0;
}
#categorylist h3,#menu h4,.menutitle {
line-height:26px;
background-image:url(img/headline_bg.gif);
height:26px;
font-size:14px;
color:#FFF;
text-align:center;
overflow:hidden;
text-shadow:2px 2px 2px #333;
}
.txt-line,#main .nmlbox {
border:2px solid #CCC;
}#linklist {
padding: 10px;
}
#linklist dt {
font-weight: bold;
padding-left: 15px;
background-image: url(img/entlist.jpg);
background-repeat: no-repeat;
background-position: left center;
}
#linklist dd {
margin-left: 15px;
font-size: 11px;
margin-bottom: 8px;
line-height: 130%;
}
#topmenu {
background-image: url(img/topmenu-bg.jpg);
background-repeat: repeat-x;
background-position: left top;
    width: 100%;
height: 42px;
margin: 0 auto 0 auto;
text-align: center;
overflow: hidden;
}
#topmenu span {
    width: 100%;
margin: 0 auto 0 auto;
padding: 8px 20px 10px 20px;
text-align: center;
color: #FFF;
line-height: 42px;
font-weight: 800;
border-left: solid 1px #ecdacd;
}
#topmenu a {
color: #FFF;
text-decoration: none;
}
#topmenu span:last-child {
border-right: solid 1px #ecdacd;
}
body{font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif;font-weight:bold;}
.rank1,.rank2,.rank3,.rank4,.rank5,.point,.point1,.point2,.point3,.point4,.point5{font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif;font-weight:bold;}
#text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9,#text10{font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif;font-weight:normal;}
@charset "shift_jis";



/* 記事スタイル */

/*点線背景*/
.txt-border {
background-image: url(./img/dott.gif);
background-repeat: repeat;
background-position: left top;
font-size: 13px;
line-height: 30px;
margin: 10px;
padding: 0 !important;
border:none !important;
box-shadow: none !important;
}
.txt-border p {
font-size: 13px;
line-height: 30px;
}
.txt-line  {
border: 2px solid #CCCCCC;
}
.txt-yellowback {
background-color: #FFF9DF;
border: 2px solid #CC0000;
}
/*灰色背景*/
.txt-grayback {
background-color: #e6e6e6;
border: 3px solid #f6f6f6;
}
.txt-grayback .body {
background-color: #F2F2F2;
}
/*カラー背景*/
.txt-colorback {
background-color: #ffe591;
border: 3px solid #fff8e1;
}
.txt-colorback .body {
background-color: #fffcf2;
}
/*灰色枠*/
.txt-frame {
background-image: url(./img/frame_l.gif);
background-repeat: repeat-y;
background-position: left top;
}
.txt-frame .top {
background-image: url(./img/frame_t.gif);
background-repeat: no-repeat;
background-position: left top;
height: 7px;
overflow: hidden;
}
.txt-frame .top_inner {
background-image: url(./img/frame_tr.gif);
background-repeat: no-repeat;
background-position: right top;
height: 7px;
}
.txt-frame .body {
background-image: url(./img/frame_r.gif);
background-repeat: repeat-y;
background-position: right top;
padding: 20px 25px;
*zoom: 1;
}
.txt-frame .bottom {
background-image: url(./img/frame_b.gif);
background-repeat: no-repeat;
background-position: left top;
height: 7px;
overflow: hidden;
}
.txt-frame .bottom span{
background-image: url(./img/frame_br.gif);
background-repeat: no-repeat;
background-position: right top;
display: block;
height: 7px;
}
/*カラー枠*/
.txt-colorframe {
background-image: url(./img/colorframe_l.gif);
background-repeat: repeat-y;
background-position: left top;
}
.txt-colorframe .top {
background-image: url(./img/colorframe_t.gif);
background-repeat: no-repeat;
background-position: left top;
height: 7px;
overflow: hidden;
}
.txt-colorframe .top_inner {
background-image: url(./img/colorframe_tr.gif);
background-repeat: no-repeat;
background-position: right top;
height: 7px;
}
.txt-colorframe .body {
background-image: url(./img/colorframe_r.gif);
background-repeat: repeat-y;
background-position: right top;
padding: 20px 25px;
*zoom: 1;
}
.txt-colorframe .bottom {
background-image: url(./img/colorframe_b.gif);
background-repeat: no-repeat;
background-position: left top;
height: 7px;
overflow: hidden;
}
.txt-colorframe .bottom span{
background-image: url(./img/colorframe_br.gif);
background-repeat: no-repeat;
background-position: right top;
display: block;
height: 7px;
}
/*角丸枠*/
.txt-rndbox {
background-image: url(./img/round_l.gif);
background-repeat: repeat-y;
background-position: left top;
border:none !important;
box-shadow: none !important;
}
.txt-rndbox .top {
background-image: url(./img/round_t.gif);
background-repeat: no-repeat;
background-position: left top;
height: 15px;
overflow: hidden;
}
.txt-rndbox .top_inner {
background-image: url(./img/round_tr.gif);
background-repeat: no-repeat;
background-position: right top;
height: 15px;
}
.txt-rndbox .body {
background-image: url(./img/round_r.gif);
background-repeat: repeat-y;
background-position: right top;
padding: 10px 25px;
*zoom: 1;
}
.txt-rndbox .bottom {
background-image: url(./img/round_b.gif);
background-repeat: no-repeat;
background-position: left top;
height: 15px;
overflow: hidden;
}
.txt-rndbox .bottom span{
background-image: url(./img/round_br.gif);
background-repeat: no-repeat;
background-position: right top;
display: block;
height: 15px;
}
/* 飾り枠用見出しリセット */
#main .txt-decbox1 h2,
#main .txt-decbox1 h3,
#main .txt-decbox1 h2 span,
#main .txt-decbox1 h3 span,
#main .txt-decbox2 h2,
#main .txt-decbox2 h3,
#main .txt-decbox2 h2 span,
#main .txt-decbox2 h3 span{
margin:0 !important;
background-image: none;
padding:0;
border:none;
background-color:transparent;
text-align:center;
font-size:20px;
line-height:1.3;
}

#main .txt-decbox1 h2:before,
#main .txt-decbox1 h3:before,
#main .txt-decbox2 h2:before,
#main .txt-decbox2 h3:before,
#main .txt-decbox1 h2:after,
#main .txt-decbox1 h3:after,
#main .txt-decbox2 h2:after,
#main .txt-decbox2 h3:after,
#main .txt-decbox1 h2 span:before,
#main .txt-decbox1 h3 span:before,
#main .txt-decbox2 h2 span:before,
#main .txt-decbox2 h3 span:before,
#main .txt-decbox1 h2 span:after,
#main .txt-decbox1 h3 span:after,
#main .txt-decbox2 h2 span:after,
#main .txt-decbox2 h3 span:after
{
background:none;
border:none;
bottom: 0;
left: 0;
right: 0;
top: 0;
content:"";
position: static !important;
z-index: -1;
line-height:0;
display:none;
background-color: #fffbee;
}

#text1.txt-decbox1, #text2.txt-decbox1, #text3.txt-decbox1, #text4.txt-decbox1, #text5.txt-decbox1, #text6.txt-decbox1, #text7.txt-decbox1, #text8.txt-decbox1, #text9.txt-decbox1, #text10.txt-decbox1 {
background-color: #fffbee;
}

/*飾り枠1*/
.txt-decbox1 {
background-color: #fffbee;
background-image: url(./img/decbox_l.gif);
background-repeat: repeat-y;
background-position: left top;
}
.txt-decbox1 .top {
background-image: url(./img/decbox_t.gif);
background-repeat: no-repeat;
background-position: left top;
height:auto;
padding:0;
}
.txt-decbox1 .top_inner {
background-image: url(./img/decbox_r.gif);
background-repeat: repeat-y;
background-position: right top;
}
.txt-decbox1 .top_inner .top_box {
background-image: url(./img/decbox_tr.gif);
background-repeat: no-repeat;
background-position: right top;
text-align: center;
margin:0;
min-height:36px;
}
#main .txt-decbox1 h2,
#main .txt-decbox1 h3
{
display:block;
line-height:120%;
padding: 30px 60px 10px;
}

.txt-decbox1 .body{
background-image: url(./img/decbox_r.gif);
background-repeat: repeat-y;
background-position: right top;
padding: 10px 30px 0;
width:auto;
*zoom: 1;
}
.txt-decbox1 .bottom {
background-image: url(./img/decbox_b.gif);
background-repeat: no-repeat;
background-position: left top;
height: 50px;
padding:0;
}
.txt-decbox1 .bottom span{
background-image: url(./img/decbox_br.gif);
background-repeat: no-repeat;
background-position: right top;
display: block;
height: 50px;
margin:0;
}
/*飾り枠2*/
.txt-decbox2 {
background-image: url(./img/decbox2_r.gif);
background-position: right bottom;
background-repeat: repeat-y;
}
.txt-decbox2 .top {
background-image: url(./img/decbox2_tr.gif);
background-repeat: no-repeat;
background-position: right top;
padding: 16px 16px 0 0;
height:auto;
}
.txt-decbox2 .top_inner {
background-image: url(./img/decbox2_l.gif);
background-position: left top;
background-repeat: repeat-y;
}
.txt-decbox2 .top_inner .top_box {
background-image: url(./img/decbox2_t.gif);
background-position: left top;
background-repeat: no-repeat;
padding-left: 16px;
position: relative;
top: -16px;
}
.txt-decbox2 .top_inner .top_box2 {
background-image: url(./img/decbox2_t2.gif);
background-position: center top;
background-repeat: no-repeat;
display: block;
text-align: center;
min-height:30px;
}

#main .txt-decbox2 h2 span,
#main .txt-decbox2 h3 span
{
padding: 50px 14px 0;
}
.txt-decbox2 .body{
background-image: url(./img/decbox2_l.gif);
background-position: left bottom;
background-repeat: repeat-y;
margin-bottom: -20px;
margin-right: 16px;
overflow: hidden;
padding: 0 14px 0 30px;
position: relative;
*zoom: 1;
}
.txt-decbox2 .bottom {
background-image: url(./img/decbox2_br.gif);
background-position: right top;
background-repeat: no-repeat;
height: 60px;
}
.txt-decbox2 .bottom span{
background-image: url(./img/decbox2_b.gif);
background-position: left top;
background-repeat: no-repeat;
display: block;
height: 60px;
}

#main .txt-grayback, #main .txt-colorback, #main .txt-line, #main .txt-frame,#main .txt-colorframe ,#main .txt-rndbox {
margin-top: 10px;
margin-bottom: 10px;
}
#main .txt-grayback, #main .txt-colorback {
padding: 1px;
}
#main .txt-grayback .body, #main .txt-colorback .body{
padding: 20px;
*zoom: 1;
}
#main .txt-frame, #main .txt-colorframe {
padding: 0;
}
#main .txt-rndbox, #main .txt-decbox1, #main .txt-decbox2{
padding: 0;
}


/* 記事スタイル - 色差分 */

#main .txt-decbox1 .top h2 span,
#main .txt-decbox1 .top h3 span {
color: #9ba7c6;

}
#main .txt-decbox2 .top h2 span,
#main .txt-decbox2 .top h3 span {
color: #7e8eb8;

}

.hd{
color: #333;
text-decoration:none;
}

/* fixImageStyles */
.img-center img{max-width:100%;height:auto;}
span.img-center{display:block;}
table.rank-table td .img-center{text-align:left !important;}